[package]
name = "shared"
version = "0.1.0"
edition = "2021"

[dependencies]
anchor-lang = "0.32.1"
# Re-export the derive macro so users can do: use shared::Spacy;
shared-derive = { path = "../shared-derive" }
